@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Unlock&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
body{
    /* background-color: #230164; */
    background-color: aliceblue;
}
/* for icon  */
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
}
.brand pre{
    color: white;
    margin-bottom: 0;
        font-family: 'Raleway', sans-serif;
        font-family: 'Unlock', cursive;
        
}
.brand-i{
    padding: 0px 13px;
    color: white;
}
/* // for nav  */
.navbar-top ul{
    background-color:#230164;
    box-shadow: inset -1px -1px 3px #999999;
    display: flex;
    margin-bottom: 0px;
    padding:.8rem 2rem;
    align-items: center;
}
.navbar-top ul li {
    list-style: none;
}
.navbar-top a{
    color: white;
    text-decoration: none;
    padding: 0rem 2rem;
    

}

/* container  */
.cont{
    background-image: url(marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 33rem;
    display: flex;
   
}
.songlist {
        text-align: center; 
        padding: 1rem;
}
.songs{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: 295px;
}
.songItem{
    box-shadow:  0px 0px 1px #ffffff;
    /* border: solid rgb(95, 2, 131); */
    width: 23rem;
    margin: 1rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-color:#230164;
    border-radius: 3rem;
    align-items: center;
}
.songItem img{
    width: 4.4rem;
    border-radius: 3rem;
}
.songItem span{
    padding: 3px;
}

/* for icons font awesome  and input and bottom */
.bottom{
    background-color: #160041;
    height: 5.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:  1px 1px 3px #999999;
    padding: 0rem 1rem;
    /* border: solid firebrick; */
}

#myProgressBar{
    width: 110vh;
    background-color: white;
}
.fa-solid{
    color: white;
    font-size: 2rem;
    padding: 4px;
    cursor: pointer;
}
.fa-regular{
    cursor: pointer;
    color: white;
    font-size: 2rem;
    padding: 4px;
}
@media(max-width:995px){
    .navbar-top li a{
        display: none;
    }
    .brand{
        display: flex;
        align-items: center;
        margin: auto;
    }

}
#myProgressBar{
    background-color: transparent;
}

/* card  */

#mainCard{
    background-color: transparent;
    margin-top:6rem;
    height: 333px;
    width: 333px;

    font-weight: 700;
    text-align: center;
}